.sidebar{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0px 7px 7px 0px;
    height: 100vh;
}

.sidebar-item{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-size: 20px;
}