.task{
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(95, 95, 95, 0.25);
    border-radius: 7px;
    width: 75%;
    padding: 6px 12px;
}

.action-buttons{
    padding: 6px!important;
}

.form-check-input:checked {
    background-color: #FF9914!important;
    border-color: #FF9914!important;
}
